.center-Img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

html {
    background-color: #111111;
    color: white;
}

nav {
    background-color: transparent;
    /* sets the background color of the navigation bar to transparent */
    height: 50px;
    /* sets the height of the navigation bar */
    width: 100%;
    /* makes the navigation bar expand to the full width of the page */
    position: fixed;
    /* fixes the position of the navigation bar so that it stays in place */
    top: 0;
    /* positions the navigation bar at the top of the page */
    left: 0;
    /* positions the navigation bar at the left side of the page */
}

nav ul {
    list-style-type: none;
    /* removes the bullet points from the list */
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;

    /* uses flexbox to horizontally align the list items */
    justify-content: center;
    /* centers the list items horizontally */
}

nav li {
    margin: 0 20px;
    /* adds some margin between the list items */
}

nav li a {
    display: block;
    /* turns the anchor element into a block element */
    color: white;
    /* sets the text color of the navigation items */
    text-align: center;
    /* centers the text horizontally */
    padding: 16px;
    /* adds some padding around the text */
    text-decoration: none;
    /* removes the underline from the links */
    transition: background-color 0.3s ease-in-out;
    /* adds a transition effect to the background color */
}

nav li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5%;
    /* changes the background color of the navigation item on hover */
}

.mainBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* centers the items vertically */
    justify-content: center;
    margin-top: 5%;
    /* centers the items horizontally */
}

.mainBox a {
    text-decoration: none;
    /* removes the underline */
    color: inherit;
    /* sets the color to inherit from the parent element */
}

.item {
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* centers the content vertically */
    justify-content: center;
    /* centers the content horizontally */
    margin: 20px;
    /* adds some margin between the items */
    width: 300px;
    /* sets the width of the items */
    border: 2px solid #333;
    /* adds an outline to each item */
    padding: 20px;
    border-color: #333;
    transition: border-color 0.3s ease-in-out;
    /* adds some padding inside the item */
}

.item img {
    width: 100%;
    /* sets the width of the image to 100% of the container */
    height: auto;
    /* maintains the aspect ratio of the image */
}

.item:hover {
    border-color: white;
    transition: border-color 0.3s ease-in-out;
}

.item h2,
.item p {
    text-align: center;
    /* centers the text horizontally */
}